*,
html,
body,
div,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

div,
img,
button,
input,
textarea,
select {
    outline: none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a,
img,
button,
input {
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.font {
    font-family: 'Poppins', sans-serif;
}

/* ===========BASIC========= */

*,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a div,
.btn,
input,
p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

a,
ul,
li,
img,
input,
textarea,
button {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.app-width {
    width: var(--app-width);
    margin: 0 auto;
}

:root {
    --app-width: 1260px;
}

/* header */
.header {
    width: 100%;
    background: linear-gradient(to bottom, rgba(245, 71, 72, 0.1), rgba(245, 71, 72, 0));
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    /* box-shadow: 0 0 10px #ccc; */

}

.header .wrapper {
    /* width: 100%; */
}

.header .wrapper .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85px;
}

.header .wrapper .nav .ls {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header .wrapper .nav .ls .logo {
    width: 40px;
}

.header .wrapper .nav .ls h1 {
    font-size: 24px;
    font-weight: 600;
}


.header .wrapper .nav .rs {
    display: flex;
    align-items: center;
}

.header .wrapper .nav .rs a {
    color: #000;
    margin-right: 30px;
    cursor: pointer;
}

.header .wrapper .nav .rs a:last-child {
    margin-right: 0px;
}

.header .wrapper .nav .rs a:hover,
.header .wrapper .nav .rs a.active {
    color: #f54748;
    transition: 0.3s linear;

}

/* .header .wrapper .nav .rs a:hover {
    color: #f54748;
    transition: 0.3s linear;
} */

.header .wrapper .nav .login {
    display: flex;
    align-items: center;
    background-color: #f54748;
    color: #fff;
    padding: 15px 30px;
    border: none;
    outline: none;
    gap: 10px;
    border-radius: 50px;
    font-size: 16px;

}

.header .wrapper .nav .menubar {
    font-size: 24px;
    display: none;
    cursor: pointer;

}



.close_btn {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.header .wrapper .nav .login:hover {
    background-color: #ed1f1f;
}

.header .wrapper .home {
    padding: 80px 0;
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
    /* visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all, opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.5s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0.5s; */
}

.header .wrapper .home .home_ls {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* margin-right: 50px; */

}

.header .wrapper .home .home_ls .text_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #000;
    background-color: rgba(245, 71, 72, 0.1);
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 220px;
}

.header .wrapper .home .home_ls .text_btn img {
    width: 25px;
}

.header .wrapper .home .home_ls .heading_text {
    font-size: 76px;
    font-weight: 700;
    line-height: 90px;
    color: #2e2e2e;
    margin-bottom: 20px;
}

.header .wrapper .home .home_ls .par {
    font-size: 16px;
    font-size: 500;
    color: #595959;
}

.header .wrapper .home .home_ls .btn {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 30px;


}

.header .wrapper .home .home_ls .btn .btn_start {
    background-color: #f54748;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
}

.header .wrapper .home .home_ls .btn .btn_start:hover {
    background-color: #ed1f1f;
}

.header .wrapper .home .home_ls .btn a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    /* width: 100%; */
}

.header .wrapper .home .home_ls .btn a span i {
    font-size: 16px;
    width: 35px;
    height: 35px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fdc55e;

}

.header .wrapper .home .home_ls .btn a:hover {
    color: #ed1f1f;
}

.header .wrapper .home .home_rs {
    flex: 1;
}

.header .wrapper .home .home_rs img {
    max-width: 575px;
    width: 100%;
}

/* services */
.services {
    padding: 100px 0;
}

.services .wrapper {
    width: 100%;
}

.services .wrapper .heading {
    text-align: center;
}

.services .wrapper .heading span {
    color: #f54748;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.services .wrapper .heading h1 {
    font-size: 48px;
    font-weight: 700;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.services .wrapper .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.services .wrapper .box .card {
    padding: 30px;
}

.services .wrapper .box .card img {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.services .wrapper .box .card .name {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #2e2e2e;
    margin-bottom: 10px;
}

.services .wrapper .box .card p {
    text-align: center;
    width: 275px;
    color: #595959;
}

/* menu */
.menu {
    padding: 80px 0;
}

.menu .wrapper {
    /* width: 100%; */
}

.menu .wrapper .heading span {
    color: #f54748;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.menu .wrapper .heading h1 {
    font-size: 48px;
    font-weight: 700;
    width: 550px;
    color: #2e2e2e;

}

.menu .wrapper .slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 64px;

}

.menu .wrapper .slide .card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    /* height: 350px; */
}

.menu .wrapper .slide .card img {
    display: flex;
    width: 100%;

}

.menu .wrapper .slide .card .card_details {
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
    z-index: 1;
}

.menu .wrapper .slide .card .card_details h3 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.menu .wrapper .slide .card .card_details h2 {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

.menu .wrapper .slide .card .card_details h2 span {
    font-size: 18px;
    font-weight: 600;
    color: #fdc55e;
    margin-right: 10px;
}

.menu .wrapper .slide .card .card_details a {
    font-size: 16px;
    color: #fff;

}

.menu .wrapper .slide .card .card_details a:hover {
    color: #ed1f1f;
    transition: 0.3s linear;
}

/* about_us */
.about_us {
    padding: 80px 0;
}

.about_us .wrapper {
    display: flex;
    align-items: center;
    gap: 40px;

}

.about_us .wrapper .ls {
    flex: 1;
}

.about_us .wrapper .ls .about_img {
    width: 100%;
    height: 100%;
}

.about_us .wrapper .ls .about_img img {
    width: 500px;
}

.about_us .wrapper .rs {
    margin-left: 40px;
}

.about_us .wrapper .rs span {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ed1f1f;
    margin-bottom: 10px;
}

.about_us .wrapper .rs h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 32px;
}

.about_us .wrapper .rs p {
    font-size: 18px;
    line-height: 30px;
    color: #595959;
    margin-bottom: 32px;
}

.about_us .wrapper .rs .client_detail {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 32px;
}

.about_us .wrapper .rs .client_detail img {
    width: 50px;
    border-radius: 100%;
}

.about_us .wrapper .rs .client_detail h2 {
    font-size: 20px;
    font-weight: 600;
    color: #2e2e2e;
}

.about_us .wrapper .rs .client_detail span {
    font-size: 16px;
    color: #595959;
    font-weight: 500;
}

.about_us .wrapper .rs .client_rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about_us .wrapper .rs .client_rating .star i {
    color: #fdc55e;
}

.about_us .wrapper .rs .client_rating .star {
    color: #000;
}

/* contact */
.contact {
    background-color: rgba(245, 71, 72, 0.05);

}

.contact .wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.contact .wrapper .ls {}

.contact .wrapper .ls span {
    color: #f54748;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
}

.contact .wrapper .ls h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 32px;
}

.contact .wrapper .ls p {
    font-size: 16;
    color: #595959;
    margin-bottom: 32px;
}

.contact .wrapper .ls .get_btn {
    background-color: #f54748;
    padding: 15px 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
}

.contact .wrapper .ls .get_btn:hover {
    background-color: #ed1f1f;
}

.contact .wrapper .rs img {
    /* width: 550px; */
    width: 100%;
}

/* Footer */
.footer {
    padding: 100px 0;
}

.footer .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer .wrapper .card .logo_footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
}

.footer .wrapper .card .logo_footer img {
    width: 40px;
}

.footer .wrapper .card .logo_footer h1 {
    font-size: 24px;
    font-weight: 600;
}

.footer .wrapper .card p {
    font-size: 16px;
    line-height: 28px;
    color: #595959;
    margin-bottom: 32px;
}

.footer .wrapper .card .soical_icon {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer .wrapper .card .soical_icon .instagram_icon {
    width: 20px;

}

.footer .wrapper .card .soical_icon .facebook_icon {
    width: 10px;
}

.footer .wrapper .card .soical_icon .twitter_icon {
    width: 20px;
}

.footer .wrapper .card .about_footer {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
}

.footer .wrapper .card .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .wrapper .card .links a {
    color: #595959;
    font-size: 16px;
}

.footer .wrapper .card .company_footer {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
}

.footer .wrapper .card .support_footer {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
}

.copy_text {
    text-align: center;
    color: #595959;
    font-size: 14px;
    padding: 20px 0;
}